.App {
  text-align: center;
}


.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  
}

.App-link {
  color: #61dafb;
}

.Header-Links{
  font-size: 20px;
}

#Link {
  align-content: center; 
}


.btn-grp {
  padding-top: 2em;
  display: inline-block;
  justify-content: center;
}

.zoom {
  padding: 40px;
  transition: transform .2s;
  width: auto;
  height: auto;
  display: inline-block;
  
}

.List h1{
  color: black;
}
.zoom:hover {
  transform: scale(1.2); 
}

